<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <h1>Приложения для заданий по Английскому</h1>
        <p>Для начала выберите задание:</p>
        <ul>
            {% for i in range(1, 41) %}
                <li><a href="/task/{{ i }}">Task {{ i }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>